<div data-role="page" id="page1">
  <div data-role="header" class="header">
    <h1>WayToEat</h1>
  </div>

  <div data-role="main" class="ui-content">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <img id="restaraunt-image" src="/img/nini.jpg" style="margin: 0 auto;">
    <br>
    <br>
    <br>
    <span id="left">No</span>
    <span id="right">Yes</span>
  </div>

  <div data-role="footer">

  </div>
</div>

</div>
