<div data-role="page" id="page2">
  <div data-role="header" class="header">
    <h1>restaraunts</h1>
  </div>

  <div data-role="main" class="ui-content">
    <h1>Hello world</h1>
    <p>Welcome to my second page</p>
    <a href="/">Home</a>
  </div>

  <div data-role="footer" data-position="fixed">
    <h2>&copy; Otters 2017 </h2>
  </div>
